.card-modal .s-modal-content .desc {
  margin: 20px 0;
  width: 70%;
}

.card-modal .s-modal-content .desc a {
  font-size: 15px;
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 3px;
  background-color: #ebebec;
  color: var(--nav1);
  font-weight: 400;
}

.card-modal .s-modal-content .desc a:hover {
  background-color: var(--list);
  color: #111;
}
.card-modal .s-modal-content .desc p {
  font-size: 15px;
  color: #555555;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-modal .s-modal-content .desc textarea {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 87%;
  height: 40px;
  padding: 10px;
  border: 2px solid transparent;
  background-color: var(--list);
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  cursor: pointer;  
  height: 80px;
  background-color: white;
  border-color: rgb(44, 44, 187);
}
/* 
.card-modal .s-modal-content .desc textarea:hover {
  background-color: #d4dddb;
}

.card-modal .s-modal-content .desc textarea:focus {
  height: 80px;
  background-color: white;
  border-color: rgb(44, 44, 187);
} */
.card-modal .s-modal-content .desc .desc-p textarea {
  display: none;
}
.card-modal .s-modal-content .desc .desc-func {
  display: none;
  margin-top: 10px;
}

.card-modal .s-modal-content .desc .desc-save {
  display: inline-block;
  width: 60px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(47, 194, 47, 1);
  margin-right: 20px;
  color: var(--card);
  cursor: pointer;
}

.card-modal .s-modal-content .desc .desc-save:hover {
  background-color: rgba(47, 194, 47, 0.8);
}
.desc .desc-save span{
    width: inherit;
    height: inherit;
    display: block;
}
.card-modal .s-modal-content .desc .desc-cross {
  display: inline-block;
  color: #555555;
  font-weight: 300;
  width: 30px;
}
.card-modal .s-modal-content .desc .desc-cross i {
  line-height: 36.67px;
  text-align: center;
  width: inherit;
}
.card-modal .s-modal-content .desc .desc-cross:hover {
  color: #111111;
}
