:root {
  --logo:#bbc0c0;
  --nav1:#758282;
  --links:#949E9D;
  --link-color:#FFFFFF;
  --list:#EBECF0;
  --card-hover:#F4F5F7;
  --card:#FAFAFA;

}
* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  transition: all 200ms ease-in-out;
}

a {
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

input,textarea,button,select{
  outline: none;
  box-shadow: none !important;
}